.App {
  text-align: center;
}

.todo {
  width: 100%;
  margin: 5px;
}

.todo-item,
.complete-btn,
.trash-btn {
  display: inline-block;
}

.todo-item {
  width: 30%;
  margin-right: 10px;
  border: 2px solid;
  padding: 2px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}